* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
}

.dashboard {
    background-color: aqua;
    grid-column: 1 / 2;
    grid-row: 2;
    height: 100vh;
    position: relative;
}

.contents {
    background-color: aquamarine;
    grid-column: 2;
    grid-row: 2;
    padding: 2rem;
    position: relative;
}

.completed-todos {
    display: none;
    grid-column: 2;
    grid-row: 2;
}

.project-form {
    max-width: 50ch;
    border: 5px solid red;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: absolute;
    top: 150px;
    left: 250px;
}

.todo-form {
    max-width: fit-content;
    border: 5px solid red;
    padding: 2rem;
    position: absolute;
    top: 100px;
    right: 30px;
}

.project-form input {
}

.buttons-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 2rem;
}



.date-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

/*.date-label {
    visibility: hidden;
}

.date-label:hover {
    visibility: visible;
    position: absolute;
}*/