* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    background-color: silver;
}

.title {
    grid-column: 2;
    text-align: center;
    padding-top: 2rem;
    grid-row: 1 / -1 ;
    /*color: darkgoldenrod;*/
    background-image: linear-gradient(to right, silver,  darkkhaki, yellowgreen, darkseagreen, khaki, darkgreen);
}

.dashboard {
    background-color: darkgreen;
    grid-column: 1 / 2;
    position: relative;
    padding: 3rem 2rem;
    grid-row: 1;
}

.completedTodoBtn {
    margin-bottom: 2em;
    padding: 0.5em;
    border-radius: 10px;
    border: 0.1rem solid black;
    background-color: yellowgreen;
    font-size: 1em;
    font-weight: bold;
}


.project-list {
    margin-top: 1rem;
}

.project-list .project-container {
    border: 0.1rem solid darkkhaki;
    margin-bottom: 0.5rem;
    color: white;
    padding: 0.3rem;
}

.project-list .project-container:hover {
    border: 0.15rem dotted darkorange;
}

.project-list .project-container p {
    color: yellow;
}

.add-project {
    padding: 0.5em;
    border-radius: 10px;
    border: 0.1rem solid black;
    background-color: yellowgreen;
    font-size: 1em;
    font-weight: bold;
}

.deleteProjectBtn {
    display: block;
    background-color: red;
}

.completed-todos {
    grid-column: 2;
    grid-row: 1;
    margin-top: 4rem;
    display: none;
}

.completed-todos div {
    background-color: darkseagreen;
    margin: 0.2rem 0.3rem;
}

.contents {
    /*background-color: aquamarine;*/
    grid-column: 2;
   /* padding: 2rem;*/
    position: relative;
    grid-row: 1;
    margin-top: 4rem;
    display: none;
}


.contents .project-container{
    padding-top: 1rem;
    margin: 0.2rem 1.5rem;
}

.contents .project-container h1 {
    font-weight: bold;
}

.contents .project-container p {
    color: darkgreen;
    font-weight: bold;
}

.add-todoBtn, .edit-todoBtn, .delete-todoBtn {
   /* margin-bottom: 2em;*/
    padding: 0.5em;
    border-radius: 10px;
    border: 0.1rem solid black;
    background-color: yellowgreen;
    font-size: 1em;
    font-weight: bold;
    margin: 0.5rem 1.5rem;
}

.completedTodoBtn:hover, .add-project:hover, .add-todoBtn:hover,
.edit-todoBtn:hover, .delete-todoBtn:hover{
    border: 0.1rem solid khaki;

}



.todo-outer-container {
    background-color: darkseagreen ;
    margin: 2px 3px;
    padding: 1.5rem;
    display: flex;
    gap: 150px;
}

.todo-outer-container:hover {
    border-bottom: 2px dotted black;
}

.todo-container {
    width: 50%;
    
}

.checkbox-label {
}

.edit-delete-todoBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.edit-todoBtn, .delete-todoBtn {
    width: 25%;
}


.project-form {
    max-width: 50ch;
    border: 5px solid red;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: absolute;
    top: 150px;
    left: 250px;
}

.todo-form {
    max-width: fit-content;
    border: 5px solid red;
    padding: 2rem;
    position: absolute;
    top: 100px;
    right: 30px;
}

.project-form input {
}

.buttons-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 2rem;
}



.date-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

/*.date-label {
    visibility: hidden;
}

.date-label:hover {
    visibility: visible;
    position: absolute;
}*/