* {
    box-sizing: border-box;
    margin: 0;
}

.project-form {
    max-width: 50ch;
    border: 5px solid red;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.project-form input {
}

.buttons-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 2rem;
}



.date-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

/*.date-label {
    visibility: hidden;
}

.date-label:hover {
    visibility: visible;
    position: absolute;
}*/